/* budget.css */
.budget-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
    transition: all 0.3s ease;
}

.budget-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center; 
}

.form-row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #555;
}

.input-boxes {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 200px;
}

.budget-header {
    text-align: center;
    margin-bottom: 20px;
}

.budget-header h2 {
    font-size: 2rem;
    color: #333;
}

.budget-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.create-button {
    background-color: #626c61;
    color: white;
    border: none;
    padding: 12px 25px; 
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    width: fit-content; 
}

.create-button:hover {
    background-color: #45a049;
}

.delete-button {
    align-items: center;
    background-color: #626c61;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.update-button {
    background-color: #626c61;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    margin-right: 20px;
}
.update-button:hover {
    background-color: #1976d2;
}

.search-bar {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
}

.budget-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.budget-table th,
.budget-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.budget-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #555;
}

.budget-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.budget-table tr:hover {
    background-color: #f1f1f1;
}

.budget-table td {
    color: #333;
}

.budget-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #777;
}